/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 50%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family:'Calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* STYLING */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.form-wrapper {
  margin: 2rem;
  position: relative;
}

form {
  display: block;
  padding: 2rem;
  position: relative;
  margin: auto;
  max-width: 60rem;
  border: 1px solid #000;
  justify-content: center;
}

label {
  display: inline-block;
  width: 10rem;
}

.radio-choice label {
  width: 7rem;;
}

input[type="number"],
input[type="text"] {
  width: 40%;
  /* margin-bottom: 1rem; */
  margin-right: 2rem;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}


#driver-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#driver-group label {
  max-width: 7rem;
  padding-left: 1rem;;
}

#driver-group label,
#driver-group input {
  margin-bottom: 1rem;
}

.button-container {
  text-align: center;
}

button {
  min-width: 5rem;
  max-width: 5rem;
  background: green;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: 0.1s all;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

.row-button {
min-width: 10rem;
margin-right: 2rem;
}

.question {
  display: inline-block;
  margin-bottom: 1rem;
}

.hint {
  display: inline-block;
  margin-bottom: 2rem;;
}