<html>
  <head>
    <title>Grundlagen des Web</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <script type="module" src="../index.js"></script>
    <script type="module" src="../postDriver.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <div id="create-user">
      Create User
      <form action="/driver" method="POST">
        <label for="name">Driver name:</label>
        <input type="text" id="name" name="name" /><br /><br />
        <label for="age">Age</label>
        <input type="number" id="age" name="age" /><br /><br />
        <label for="car">Car</label>
        <input type="number" id="car" name="car" /><br /><br />
        <label for="budget">Budget</label>
        <input type="number" id="budget" name="budget" /><br /><br />

        <label for="lat">Lat</label>
        <input type="number" id="lat" />

        <label for="lng">Lng</label>
        <input type="text" id="lng" />
        <input type="submit" id="create" value="Submit" />
      </form>
    </div>

    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6PpTUvfOJ0l3P4ZtlOpSs2zMKMtZ57I0&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
  </body>
</html>
