<html>
  <head>
    <title>Grundlagen des Web</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <script type="module" src="../index.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <div class="form-wrapper">
      <form>

        <h3 class="question">Wählen Sie den Fahrer aus.</h3><br />
        <p class="hint">Anschließend klicken sie zuerst auf "Daten berechnen" 
          Warten Sie drauf, dass in der Konsole eine Erfolgsnachricht erscheint.
          Dann klicken Sie auf "Route berechnen". Es wird eineRoute berechnet zu einem PoI, 
          dass mit den hinterlegten <b>Fahrerdaten (Budget, Standort, Durchschnittlicher Auto-Kraftstoffverbrauch, Kraftstofftyp des Autos) zusammenhängt</b></p>
        <div class="wrapper">
          <div id="driver-group" class="form-group">

          </div>
          <button id="getDriversButton" class="row-button" type="button">
            Fahrer aktualisieren
          </button>

          <div>
            <button id="reqSightData" class="row-button" type="button">Daten berechnen</button>
          </div>
          
          <div>
            <button id="getSight" class="row-button" type="button">Route berechnen</button>
          </div>

        
        </div>
     
      </form>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6PpTUvfOJ0l3P4ZtlOpSs2zMKMtZ57I0&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
  </body>
</html>
